.transitionText {
  padding-top: 100px;
  font-family: "Courier New", monospace;
  width: 100%;
  text-align: center;
  margin: "auto";
  position: absolute;
  font-size: 60px;
  letter-spacing: 15px;
  word-spacing: 1.2px;
}
